<section>
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Login</h2>
        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
        <button class="btn btn-info" type="submit" data-ng-click="loginUser()">Login</button>
        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>
    </form>
    <div>
        <h5>Admin</h5>
        Uid: admin@example.com
        <br />
        Pwd: Admin@123456
        <br />
        <button class="btn btn-default input-sm" data-ng-click="useAdmin()">Use Admin</button>
        <h5>User</h5>
        Uid: user@example.com
        <br />
        Pwd: User@123456
        <br />
        <button class="btn btn-default input-sm" data-ng-click="useUser()">Use User</button>
    </div>
</section>